<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wk.animation">

    <application
        android:name=".debug.AnimationApp"
        android:allowBackup="true"
        android:icon="@android:mipmap/sym_def_app_icon"
        android:label="module_hotfix"
        android:theme="@style/AppTheme">
        <activity android:name=".AnimationMainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.ViewAMainActivity" />
        <activity android:name=".view.ViewAlphaActivity"></activity>
    </application>

</manifest>