<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wk.context">

    <!-- 允许程序设置内置sd卡的读写权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".debug.ContextApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="module_list"
        android:theme="@style/AppTheme">
        <activity android:name=".ContextMainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.ActivityMainActivity"

            android:configChanges="keyboardHidden|orientation|screenSize"/> <!--旋转屏幕不销毁Activity-->
        <activity android:name=".activity.SecondActivity" />
        <activity android:name=".service.ServiceMainActivity" />

        <service
            android:name=".service.StartService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".service.BindService"
            android:enabled="true"
            android:exported="true"/>
    </application>

</manifest>