<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wk.context" >
    <!-- 允许程序设置内置sd卡的读写权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name="com.wk.context.debug.ContextApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="module_list"
        android:theme="@style/AppTheme">
        <activity android:name=".ContextMainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>