<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wk.list">

    <application
        android:theme="@style/AppTheme">
        <activity android:name="com.wk.modularization.fragment.ui.FragmentMainListActivity"/>
        <activity android:name="com.wk.modularization.fragment.ui.ViewReplaceFragmentActivity"/>
    </application>

</manifest>