<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wk.hotfix">

    <application
        android:name="com.wk.modularization.hardware.debug.HardwareApp"
        android:allowBackup="true"
        android:icon="@android:mipmap/sym_def_app_icon"
        android:label="module_hotfix"
        android:theme="@style/AppTheme">
        <activity android:name="com.wk.modularization.hardware.HardwareMainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.wk.modularization.hardware.media.MediaActivity" />
        <activity android:name="com.wk.modularization.hardware.surface.SurfaceActivity"/>
    </application>

</manifest>